{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ category.category_name }}</h2>
    
    {% if message %}
        <div >{{ message }}</div>
    {% endif %}

    {% for listing in objects %}

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            
        {% if listing.url %}
          <div class="col-sm-4">
            <img class="img-fluid m-1 rounded" src="{{ listing.url }}" alt="Listing Image">
          </div>
        {% endif %}

          <div class="col-sm-8">
            <div class="card-body">
              <h5 class="card-title">{{ listing.title }}</h5>
              <p class="card-text">{{ listing.desc }}</p>
              <p class="card-text"><small class="text-muted">Highest bid: {{ listing.starting_bid }} </small></p>
            </div>
          </div>
        </div>
        <a class="stretched-link" href="{% url 'listing' listing.id %}"></a>
      </div>

    {% empty %}

     <p>No Listings available.</p>
    
    {% endfor %}
     
    <p>Back to <a href="{% url 'categories' %}">all categories</a></p>
{% endblock %}